@charset "utf-8";
@import '../../rui/less/index';

/*
======================
app公共样式。
author:ruying(如影)
date:2016-9-10
e-mail:ok111net@163.com
site:www.ok111.net
======================
*/

@media only screen and (max-width: 640px){

}
