@charset "utf-8";
//@import '../../rui/less/index';

/*
======================
app公共样式。
author:ruying(如影)
date:2016-9-10
e-mail:ok111net@163.com
site:www.ok111.net
======================
*/
.nav{
  border-top: 1px solid #ddd;

  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.nav>li{
  -webkit-flex:1 1 auto;
  flex:1 1 auto;
}

//背影图片测试
.bg-test{
  background:url("../images/qq.jpg");
}

@media only screen and (max-width: 640px){
  body{
    font-size: 14px;
  }
}
